%main.container
  %section#home
    %header.menu
      %section.row
        %article.twelve-columns
          %p menu
    #home-main
      %section.row
        %article.twelve-columns
          %p This is home
          %br
          %br
          %br
          %br
          %p This is home
          %br
          %br
          %br
          %br
          %p This is home
          %br
          %br
          %br
          %br
    %video#video{preload: 'auto', autoplay: 'autoplay', loop: 'loop'}
      %source{src: "#{image_path 'video.mp4'}", type: 'video/mp4'}

  %section#principal
    %section.row
      %article.twelve-columns
        %p This is main
        %br
        %br
        %br
        %br
        %p This is main
        %br
        %br
        %br
        %br
        %p This is main
        %br
        %br
        %br
        %br
        %p This is main
        %br
        %br
        %br
        %br
        %p This is main
        %br
        %br
        %br
        %br
